*.DS_Store
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.pyc
*.rdb
*.seed
*.swp
*~

/client/*/bower_components/
/client/*/dist/
/client/*/.tmp/
/tmp

node_modules
bower_components
npm-debug.log

.sass-cache/
.tmp/

/gitversion.txt