// Grid container
.g {
	margin: 0.938em auto;
	max-width: 75em;
	text-align: center;

	// Grid item (take advantage of all items being the same width)
	&-item {
		display: inline-block;
		margin: 0.938em;
		vertical-align: top;

		@media screen and (min-width: 44em){
			width: 45%;
		}
		@media screen and (min-width: 66em){
			width: 25%;
		}
	}
}