body {
	background: $base;
	font-family: Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 1em;
	color: darken($base, 69.58%);
}

h2 {
	font-size: 0.75em;
	font-weight: normal;
	color: darken($base, 68.73%);
	margin: 0;
}

time {
	font-size: 0.75em;
	color: darken($base, 34.5%);
	margin: 0;
}